*{
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
}
.wrapper{
    padding: 200px 0px 0px 530px;
}
.line{
    background-color: red;
    height: 108px;
    width: 4px;
    position: absolute;
    top: 31.5%;
    left: 47%;
    animation: line 15s;
    transform-origin: 0% 100%;
    animation-iteration-count: inherit;
    animation-timing-function: steps(72, end);

}
@keyframes line {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(425deg);
    }
}