*{
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
}
.wrapper{
    padding: 200px 0px 0px 530px;
}
.clock{
    position: relative;
    background-color: yellow;
    width: 225px;
    height: auto;
}
.line{
    background-color: red;
    height: 108px;
    width: 4px;
    position: fixed;
    top: 32.8%;
    left: 47%;
    animation: line 72s;
    transform-origin: 0% 100%;
    animation-iteration-count: inherit;
    animation-timing-function: steps(72, end);

}
@keyframes line {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(425deg);
    }
}