body{
    padding: 0;
    margin: 0;
}
.menu{
    position: relative;
}

.all{
    background-color: #fff;
    width: 150px;
    height: 40px;
    border: 2px solid darkgray;
    float: left;
    margin-right: 5px;
}
.container-one{
    margin-left: 450px;
}

.all > p{
    position: absolute;
    display: none;
    left: 5%;
    right: 5%;
    border: 2px solid darkgray;
}
.all:hover{
    border-top-color: green;
}
.all:hover > p{
    display: block;
    margin-top: 40px;
    padding: 20px;
    z-index: 0;
}
.heading-one{
    float: left;
}
.heading-one > h4{
    float: right;
}
.heading-one{
    position: relative;
    width: 150px;
}
.heading-one:hover{
    z-index: 1;
    background-color: #fff;
}






