<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login-page</title>
    <link rel="stylesheet" href="../../dist/css/main.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <div class="parent">
        <div class="wrapper">
            <div class="wrapper__account">
                {% include "src/tmp/account.html" %}
            </div>

            <div class="wrapper__registration">
                {% include "src/tmp/registration.html" %}
            </div>
            <div class="wrapper__cookie">
                {% include "src/tmp/cookie.html" %}
            </div>
        </div>
    </div>
</body>
</html>