@media (min-device-width: 300px) and (max-device-width: 700px){
    .heading{
        width: 100%;
        height: auto;
    }
    .bottom-button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28%;
    }
    .wrapper{
        width: 70%;
        height: auto;
    }
    .hr-mob{
        display: none;
    }
    .wrapper-for-footing, .heading-bottom{
        width: 70%;
        height: auto;
    }
    .bottom-button > button{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .heading-bottom > hr{
        width: 19px;
        height: 1px;
    }
    .container-five-with-display-flex > div > hr{
        width: 250px;
    }
    .container1-with-display-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container1-with-display-flex > div{
        margin: 0 auto;
    }
    .container3-with-display-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container3-with-display-flex > div{
        margin: 0 auto;
        padding-bottom: 15px;
    }
    .container-six-with-display-flex > div:nth-child(1){
        float: left;
        margin-right: 9px;
        position: relative;
        left: 3.5%;
    }
    .list-footer{
        font-size: 40px;
    }
    .container-eight > .wrapper{
        width: 80%;
    }
    .f-left-img > div{
        float: left;
        margin-right: 0px;
        margin-top: -15px;
    }
    .f-left-img > div > a{
        margin-right: 5px;
    }
}
