body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

.task2 {
  position: relative;
  width: 100%;
  height: 100px;
}

.task2 button {
  width: 100px;
  height: 40px;
  border-radius: 25px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
}

.tasks3__wrapper {
  width: 100%;
  height: auto;
}

.tasks__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tasks__list .tasks__item {
  text-align: center;
  padding: 10px 10px;
}

.tasks3__wrapper2 .tasks__list {
  font-size: 0;
}

.tasks3__wrapper2 .tasks__list .tasks__item {
  display: inline-block;
  width: 33.33%;
  padding: 10px 0px 10px 0px;
}

.rules {
  width: 200px;
  position: relative;
  top: 0%;
  left: 49%;
}

.ladder {
  position: relative;
  top: 0;
  left: 40.5%;
}

.MainBlocks {
  display: block;
  height: 600px;
  width: 250px;
  margin: 0 auto;
}

.rules__item:nth-child(1) {
  font-size: 13px;
  color: #e68d0a;
}

.rules__item:nth-child(2) {
  font-size: 14px;
  color: #8ed604;
}

.rules__item:nth-child(3) {
  font-size: 15px;
  color: #6360f5;
}

.rules__item:nth-child(4) {
  font-size: 16px;
  color: #7f0a8b;
}

.rules__item:nth-child(5) {
  font-size: 17px;
  color: #6278c7;
}

.rules__item:nth-child(6) {
  font-size: 18px;
  color: #9e5ee1;
}

.ladder-item:nth-child(1) {
  display: inline-block;
  font-size: 12px;
  width: 50px;
  height: 50px;
  transform: translate(0px, 0px);
  border-top: 2px solid #cc99ff;
  border-right: 2px solid #cc99ff;
}

.ladder-item:nth-child(1) {
  transform: translate(0px, 0px);
}

.ladder-item:nth-child(6) {
  width: 41px;
  transform: translate(260px, 198px);
}

.ladder-item:nth-child(2) {
  display: inline-block;
  font-size: 12px;
  width: 50px;
  height: 50px;
  transform: translate(0px, 50px);
  border-top: 2px solid #cc99ff;
  border-right: 2px solid #cc99ff;
}

.ladder-item:nth-child(1) {
  transform: translate(0px, 0px);
}

.ladder-item:nth-child(6) {
  width: 41px;
  transform: translate(260px, 198px);
}

.ladder-item:nth-child(3) {
  display: inline-block;
  font-size: 12px;
  width: 50px;
  height: 50px;
  transform: translate(0px, 100px);
  border-top: 2px solid #cc99ff;
  border-right: 2px solid #cc99ff;
}

.ladder-item:nth-child(1) {
  transform: translate(0px, 0px);
}

.ladder-item:nth-child(6) {
  width: 41px;
  transform: translate(260px, 198px);
}

.ladder-item:nth-child(4) {
  display: inline-block;
  font-size: 12px;
  width: 50px;
  height: 50px;
  transform: translate(0px, 150px);
  border-top: 2px solid #cc99ff;
  border-right: 2px solid #cc99ff;
}

.ladder-item:nth-child(1) {
  transform: translate(0px, 0px);
}

.ladder-item:nth-child(6) {
  width: 41px;
  transform: translate(260px, 198px);
}

.ladder-item:nth-child(5) {
  display: inline-block;
  font-size: 12px;
  width: 50px;
  height: 50px;
  transform: translate(0px, 200px);
  border-top: 2px solid #cc99ff;
  border-right: 2px solid #cc99ff;
}

.ladder-item:nth-child(1) {
  transform: translate(0px, 0px);
}

.ladder-item:nth-child(6) {
  width: 41px;
  transform: translate(260px, 198px);
}

.ladder-item:nth-child(6) {
  display: inline-block;
  font-size: 12px;
  width: 50px;
  height: 50px;
  transform: translate(0px, 250px);
  border-top: 2px solid #cc99ff;
  border-right: 2px solid #cc99ff;
}

.ladder-item:nth-child(1) {
  transform: translate(0px, 0px);
}

.ladder-item:nth-child(6) {
  width: 41px;
  transform: translate(260px, 198px);
}

td:nth-child(1) {
  background: yellow;
}

td:nth-child(2) {
  background: blue;
}

td:nth-child(3) {
  background: yellow;
}

td:nth-child(4) {
  background: blue;
}

td:nth-child(5) {
  background: yellow;
}

td:nth-child(5) {
  background: black;
}

td:nth-child(6) {
  background: blue;
}

td:nth-child(7) {
  background: yellow;
}

td:nth-child(8) {
  background: blue;
}

td:nth-child(8) {
  background: green;
}

td:nth-child(9) {
  background: yellow;
}

td:nth-child(10) {
  background: blue;
}

td:nth-child(10) {
  background: black;
}

td:nth-child(11) {
  background: yellow;
}

td:nth-child(12) {
  background: blue;
}

.success {
  background: #22ff00;
}

.warning {
  background: #e6ff00;
}

.info {
  background: #d4e3ee;
}

.default {
  background: #4b0ec6;
}

.error {
  background: red;
}

.buttons button:nth-child(1) {
  height: 90px;
}

.buttons button:nth-child(2) {
  height: 60px;
}

.buttons button:nth-child(3) {
  height: 40px;
}

.buttons button:nth-child(4) {
  height: 60px;
}

.buttons button:nth-child(5) {
  height: 90px;
}

.buttons button:nth-child(6) {
  height: 60px;
}

.buttons button:nth-child(7) {
  height: 90px;
}

.buttons button:nth-child(8) {
  height: 60px;
}

.buttons button:nth-child(9) {
  height: 90px;
}

.buttons button:nth-child(10) {
  height: 60px;
}

.buttons button:nth-child(11) {
  height: 90px;
}

.buttons button:nth-child(12) {
  height: 60px;
}

.buttons button:nth-child(13) {
  height: 90px;
}

.buttons button:nth-child(14) {
  height: 60px;
}

.buttons button:nth-child(15) {
  height: 90px;
}

.buttons button:nth-child(16) {
  height: 60px;
}

body, html {
  font-family: "Helvetica";
  font-size: 14px;
}

.task2 {
  background-color: antiquewhite;
}

.task2 button {
  background-color: #2a602d;
}

.task2 button:hover {
  background-color: #334432;
}

.task2 button:focus {
  background-color: #0000FF;
}

.tasks3__wrapper {
  background-color: #ffcccc;
}

.tasks3__wrapper2 .tasks__list .tasks__item {
  font-size: 18px;
  color: white;
  background-color: #c0c0c0;
}

.MainBlocks {
  height: auto;
}

.MainBlocks__children > div {
  display: block;
  width: 100%;
  border-radius: 2px;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  margin-top: 8px;
  font-size: 16px;
}

.MainBlocks__children > div:nth-child(1) {
  background: #009933;
  height: 40px;
}

.MainBlocks__children > div:nth-child(2) {
  background: #66ccff;
  height: 25px;
}

.MainBlocks__children > div:nth-child(3) {
  background: #ff9933;
  height: 40px;
}

.MainBlocks__children > div:nth-child(4) {
  background: #ff5050;
  height: 40px;
}

.MainBlocks__children > div:nth-child(5) {
  height: 80px;
}

.MainBlocks__children > div:nth-child(5) > b {
  color: black;
}

.MainBlocks__children > div:nth-child(5) > p {
  margin-top: 3px;
  color: red;
}

.MainBlocks__children > div > div {
  float: left;
}

.MainBlocks__children > div > div:nth-child(1) {
  margin-right: 8px;
}

.MainBlocks__children > div {
  padding: 15px;
}

.ladder {
  display: inline-block;
  font-size: 0px;
  width: 302px;
  height: 300px;
  border-left: 2px solid #cc99ff;
  border-bottom: 2px solid #cc99ff;
}

table {
  margin: 0 auto;
}

table td {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.buttons {
  display: block;
  margin: 0 auto;
  width: 1180px;
  height: 100px;
}

.buttons button {
  width: 75px;
  display: inline-block;
}
