body {
    background-color: grey;
}
.wrapper {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
svg {
    width: 100px;
    height: 60px;
}
.centerElement{
    opacity: 0;
    fill: red;
}
.hamburgerClose .line{
    fill: yellow;
    transition: all 0.3s ease-in-out;
}
.hamburgerClose:hover{
    cursor: pointer;
}
.hamburgerClose:hover .line:nth-child(1){
    fill: red;
    width: 65px;
    transform-origin: 50% 50%;
    transform: translateY(45%) rotate(45deg);
}

.hamburgerClose:hover .line:nth-child(2){
    opacity: 0;
}
.hamburgerClose:hover .line:nth-child(3){
    fill: red;
    width: 65px;
    transform-origin: 50% 50%;
    transform: translateY(-45%) rotate(-45deg);
}
.hamburgerClose:hover .centerElement{
    fill: red;
    opacity: 1;
}
